<!doctype html>
<html lang="en">
  <head>
    {% include 'main/header.html' %}
  </head>
  <body>
   {% include 'main/nav.html'%}
       <form method="GET,POST" action = ".upload/face" style="text-align:center;">
          <img src = "data:image/jpeg;charset=utf-8;base64,{{img}}" usemap = "#face">
          <map name="face" id="face">
            {% for i in range(face_detect) %}
            <br/>
              <area shape="rect" coords="{{face_list[i][0]}},{{face_list[i][1]}},{{face_list[i][2]}},{{face_list[i][3]}}" alt = "face{{i}}" href = "./a"/>
              {{face_list[i][0]}},{{face_list[i][1]}},{{face_list[i][2]}},{{face_list[i][3]}}
              <input type = "text" name = "face{{i}}">
            {% endfor %}
          </map>
          <br/>
          <textarea type="text" name='num_id' value="iii" class="input-text"></textarea>
          <button name = "face_count" type="button", onclick = "location.href = './upload/face'" >사진 업로드</button>

     </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>

