<!DOCTYPE html>
<html>
  <head>
    {% include 'main/header.html' %}
    <link rel="stylesheet" href="./picture.css">
  </head>
<body>
  <div class="container">
  <div class="images">
  {% include 'main/nav.html'%}
    <form style="text-align:center;">        
        <br/><br/><h1> Picture </h1>
        <br/><br/><h3> 달력</br></h3>
        <form method="POST" action="/picture/seeall" style="text-align:center;">        
        <button type="submit" >전체 사진 보기</button>
       seeall{{seeall}}
        <br/><br/><h5> 사진 출력</h5>
      </form>
    </form>
    <form method = "POST, GET" action="/picture/select" style = "text-align:right">
      여기 안에 리모컨 만들겅미<br/>
      {% for i in range(imagelen) %}      
        <button type="select_id" name = "select_id">번호 : {{get_subid_all[i]}}</button>
        날짜 : {{get_date_all[i]}}
        내용 : {{get_content_all[i]}}
        <br/>
      {% endfor %}
    </form>
        {% for i in range(imagelen) %}      
          {{get_content_all[i]}}
          <div class = "imageFlex1">
          <p>
            <img src="data:image/jpeg;charset=utf-8;base64,{{get_image_all[i]}}">
          </p>
          </div>
        {% endfor %}

    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../../static/js/bootstrap.bundle.min.js"></script>


</body>
</html>
