<!DOCTYPE html>
<html>
  <head>
    {% include 'main/header.html' %}
    <link rel="stylesheet" href="./picture.css">
  </head>
<body>
  <div class="container">
  <div class="images">
  {% include 'main/nav.html'%}
    <form style="text-align:center;">        
        <br/><br/><h1> Picture </h1>
        <br/><br/><h3> 달력</br></h3>
        <form method="POST" action="/picture/seeall" style="text-align:center;">        
        <button type="button", onclick = "location.href = 'http://127.0.0.1:5000/picture/seeall'" >전체 사진 보기</button>
        <br/>seeall
        {{session['seeall']}}
        <br/><br/>
      </form>
    </form>
    <form method="POST,GET" action = "picture/select_id"  style="text-align:center;" >
      <table border = 2 style = "margin-left:auto; margin-right:auto;">
        <th>번호</th>
        <th>날짜</th>
        <th>내용</th>
      {% for i in range(get_image_all|length) %}
        <tr>
          <td><a href = "http://127.0.0.1:5000/picture/select_id?num={{i}}">{{get_subid_all[i]}}</a></td>
          <td>{{get_date_all[i]}}</td>
          <td>{{get_content_all[i]}}</td>
        </tr>
      {% endfor %}<br/><br/>
      </table>

      <br/><br/><h5> 사진 출력</h5>
      <table border = 2 style = "margin-left:auto; margin-right:auto;">
        <th>번호</th>
        <th>사진</th>

      {% if 'seeall' not in session %}  
      <tr><td>{{get_content_all[num]}} </td>            <!-- ㅇ이놈이랑 -->
      <div class = "imageFlex1">
        <p>
            <td><img src="data:image/jpeg;charset=utf-8;base64,{{get_image_all[num]}}"></td></tr>             <!-- ㅇ이놈이랑 이놈 문자열 바뀐 것. -->
        </p>
        <button type = button, onclick = "location.href = '#'">ai</button>
      </div>
      {% else %}
        {% for i in range(get_image_all|length) %}      

        <tr><td>{{get_content_all[i]}}</td>
          <div class = "imageFlex1">
          <p>
            <td><img src="data:image/jpeg;charset=utf-8;base64,{{get_image_all[i-1]}}"></td></tr>
          </p>
          </div>
        {% endfor %}
      {% endif %}
        </table>
    </form>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../../static/js/bootstrap.bundle.min.js"></script>


</body>
</html>
