<!DOCTYPE html>
<html>
  <head>
    {% include 'main/header.html' %}
  </head>
<body>
  {% include 'main/nav.html'%}
    <form style="text-align:center;">        
        <br/><br/><h1> Picture </h1>
        <br/><br/><h3> 달력</br></h3>
        <br/><br/><h5> 사진 출력</h5>
        <!-- <input type="text" name="num"> -->
    </form>
 
    <p>
      <img src="data:image/jpeg;charset=utf-8;base64,{{get_image}}"
    </p>
    <form method="POST" action="/picture/prev" style="text-align:center;">        
        <button type="prev">이전 사진</button>
    </form>
        <form method="POST" action="/picture/next" style="text-align:center;">        
    <button type="next">다음 사진</button>
    </form>

    <div style="text-align:center;"></div>
        <p><br/>
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../../static/js/bootstrap.bundle.min.js"></script>


</body>
</html>
