<!DOCTYPE html>
<html>
  <head>
    {% include 'main/header.html' %}
    <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.kr.js" charset="UTF-8"></script>
    <script type='text/javascript'>

      $(function(){
          $('.input-group.date').datepicker({
              calendarWeeks: false,
              todayHighlight: true,
              autoclose: true,
              format: "yyyy/mm/dd",
              language: "kr"
          });
      });
    </script>
  </head>
  
<body>
  {% include 'main/nav.html'%}
    <form method="POST" style="text-align:center;" enctype = "multipart/form-data" >
      <div class="container">
        <br/><br/><br/>
        <h2>1. 사진찍은 날짜 선택하기</h2>
        <div class="input-group date">
            <input type="text" name="date" class="form-control" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </div>
        <br/><br/><h2> 2. 사진 파일 올리기 </h2>
        <input type="file" name="file" required/>
        <button type="submit">사진 등록</button>
        <div class="error">{{error}}</div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              alert("{{messages[-1]}}") 
            </script>
          {% endif %}
        {% endwith %}

    </form>
    <div style="text-align:center;">
        <p><br/>
        </p>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../../static/js/bootstrap.bundle.min.js"></script> -->


</body>
</html>
